# -*- mode: ruby; -*-

tap "clojure-lsp/brew"
tap "d12frosted/emacs-plus"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "homebrew/services"

# Mac App Store command-line util
brew "mas"

brew "clojure-lsp/brew/clojure-lsp-native"
brew "d12frosted/emacs-plus/emacs-plus@28"

# Mac App Store command-line util
brew "mas"

cask "1password"
cask "aerial"
cask "alfred"
cask "arq"
cask "calibre"
cask "cleanmymac"
cask "daisydisk"
cask "dash"
cask "discord"
cask "docker"
cask "font-hack-nerd-font"
cask "istat-menus"
cask "iterm2"
cask "keybase"
cask "kobo"
cask "launchcontrol"
cask "mattermost"
cask "monitorcontrol"
cask "obsidian"
cask "openaudible"
cask "plexamp"
cask "rectangle"
cask "ringcentral"
cask "transmit"
cask "viscosity"
cask "webex"
cask "wireshark"
cask "zotero"

# mac app store
mas "Things 3", id: 904280696
mas "HomeControl", id: 1547121417
mas "Reeder", id: 1529448980
mas "Deliveries", id: 290986013
